<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">


    <head>
        <title>Ketjut</title>
        <meta charset="utf-8" />
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'></link>

    </head>

    <body>
        <h1>Ketjut</h1>

        <ol>
            <li th:each="ketju: ${ketjut}">
                <a th:href="${'/ketjut/' + ketju.id}">
                    <b><span th:text="${ketju.nimi}">ketjun nimi</span></b> -  
                    <span th:text="${ketju.luoja}">Luoja</span>
                    <br></br>
                    <i>Viestejä:</i>  <span th:text="${ketju.viestienLkm}">Viestien lukumäärä</span>
                    <br></br>
                    <i>Uusin:</i> <span th:text="${ketju.viimeinenViesti}">Uusin viesti</span>
                    <br></br>
                    <i>Ketju luotu: <span th:text="${ketju.aikaleima}">aikaleima</span></i>
                    <p></p>
                </a>
            </li>
        </ol>

        <form method="POST">
            Ketjun nimi <br></br><input type="text" name="ketjun_nimi"/><br></br>
            Luoja<br></br><input type="text" name="luoja"/><br></br>
            <input type="submit" value="lisää!"/>
        </form>
        <br></br>
        <button type="button" onclick="window.location.href='/keskustelualueet'">Palaa keskustelualueisiin</button>
    </body>
</html>