<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    

<head>
    <title>Ketjut</title>
    <meta charset="utf-8" />
</head>

<body>
    <h1>Ketjut</h1>

    <ol>
        <li th:each="ketju: ${ketjut}">
            <a th:href="${'/ketjut/' + ketju.id}">
                <span th:text="${ketju.nimi}">ketjun nimi</span>
                <span th:text="${ketju.aikaleima}">aikaleima</span>
            </a>
        </li>
    </ol>
</body>
</html>